body{
    background-color: #E7E6E8;
    color:#000305;
    font-size: 87.5%;
    font-family: Arial, 'lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
    }

a{ text-decoration: none;}

a:link, a:visited{color:#cf5c3f; }


.body{
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
    clear: both;
    border: 1px solid gray;
}

.MainHeader{
    background-color: aquamarine;
}

.MainHeader img{
    width: 15%;
    height: auto;
    margin: 3% 1%;
}

.MainHeader nav{
    background-color: blue;
    height: 45px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.MainHeader nav ul{
    list-style: none;
    margin: 1% auto;
}

.MainHeader nav ul li{
    float: left;
    display: inline;
}

.MainHeader nav a:link, MainHeader nav a:visited{
    color: bisque;
    display: inline-block;
    padding: 12px 30px;
    height: 20px;
}

.MainHeader nav a:hover, .MainHeader nav a:active,
.MainHeader nav .active a:link, .MainHeader nav .active a:visited{
    background-color: green;
    text-shadow: none;
}
.MainHeader nav ul li a{
    border-radius: 5px;
  -moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

MainContent{
    line-height: 25px;
    border-radius: 5px;
}

.ciontent{
    width: 70%;
    border:  2px solid red;
}